.imgWrapperLandscape {
    width: 100%;
}

.imgWrapperPortrait {
    /*height: 91vh;*/
}

.imageLandscape {
    width: 100%;
    border-radius: 5px;
}

.imagePortrait {
    /*height: 100%;*/
    border-radius: 5px;
}

.likeSection,.titleSection{
    margin-bottom: 40px;
}

.mainContainer {
    margin: 0 auto;
    background-color: white;
    width: 75%;
}

.postContainerPortrait {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.postContainerLandscape {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
}

.commentCard {
    display: flex;
    padding: 10px;
    align-items: center;
}

.commentSection {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: inset 0 0 4px 1px;
    border-radius: 5px;
}

.likeButton {
    font-size: 40px;
}

.creatorSection {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.postText {
    padding: 10px 20px;
    flex-basis: 50%;
    flex-shrink: 0;
}


.commentInputContent, .commentInputContent input {
    width: 93%;
}

.commentInputContent{
    margin: 0 7px;
}

.commentInputWrapper {
    display: flex;
    justify-content: space-between;
}

.commentInputWrapper button {
    width: 7%;
    padding: 4px;
    border-radius: 3px;
}