.imgWrapperLandscape {
    width: 100%;
}

.imgWrapperPortrait {
    /*height: 91vh;*/
}

.imageLandscape {
    width: 100%;
    border-radius: 5px;
}

.imagePortrait {
    /*height: 100%;*/
    border-radius: 5px;
}

.likeSection,.titleSection{
    margin-bottom: 40px;
}

.mainContainer {
    margin: 0 auto;
    background-color: white;
    width: 75%;
}

.postContainerPortrait {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.postContainerLandscape {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
}




.likeButton {
    font-size: 40px;
}

.creatorSection {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.postText {
    padding: 10px 20px;
    flex-basis: 50%;
    flex-shrink: 0;
}


